* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

table {
    border-collapse: collapse;
    border: 2px solid transparent;
}

table td {
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 5rem;
}

table td svg {
    width: 50px;
    height: 50px;
}

.game_setting_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.game_setting_container > div {
    margin: 0 10px;
    height: 45px;
    line-height: 45px;
    min-width: 140px;
    font-size: 16px;
}

.end_game {
    background-color: rgba(248, 37, 0, 0.842);
    color: #ffffff;
    border-radius: 4px;
    display: none;
    text-align: center;
}

.replay_game {
    height: 100%;
    background-color: #dddddd;
    box-shadow: 0 1px 4px #666666;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.replay_game:hover {
    background-color: #333333;
    color:#ffffff;
}