* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

table {
    border-collapse: collapse;
    border: 2px solid transparent;
}

table td {
    width: 130px;
    height: 130px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
}

.end-game {
    width: 250px;
    height: 250px;
    background-color: rgba(240, 108, 32 , 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-size: 600;
    display: none;
}

.replay-game {
    padding: 9px 16px;
    background-color: #dddddd;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
}